<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="{{url_for("hello_world")}}" method="post">
            <label for="firstnum">First Number</label><br>
            <input type="text" id="firstnum" name="fnum" placeholder="1234"><br>
            <label for="secondnum">Second Number</label><br>
            <input type="text" id="secondnum" name="snum" placeholder="4321"><br><br>
            <button type="submit" name="action" value="add">Add</button>
            <button type="submit" name="action" value="subtract">Subtract</button>
            <button type="submit" name="action" value="multiply">Multiply</button>
            <button type="submit" name="action" value="divide">Divide</button>
          </form>
        
    </body>
</html>